{
  "root": true,
  "extends": ["@guanghechen", "@guanghechen/jsx", "prettier"],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "import/no-named-as-default": 0
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "extends": ["@guanghechen", "@guanghechen/jsx", "@guanghechen/ts", "prettier"],
      "rules": {
        "import/no-named-as-default": 0
      }
    },
    {
      "files": ["**/__test__/*.spec.ts", "**/__test__/*.spec.tsx"],
      "extends": [
        "@guanghechen",
        "@guanghechen/jsx",
        "@guanghechen/ts",
        "plugin:jest/recommended",
        "prettier"
      ],
      "rules": {
        "import/no-named-as-default": 0,
        "import/no-extraneous-dependencies": 0,
        "no-prototype-builtins": 0
      }
    }
  ]
}
