.yozora-code-literal__copy-btn {
  @apply yz:absolute;
  right: 1rem;
  @apply yz:invisible yz:opacity-0;
  transition: opacity 0.2s ease-in-out;
  background: none;
  @apply yz:select-none;
}

.yozora-code-literal__container {
  @apply yz:flex yz:flex-col yz:justify-start yz:overflow-hidden;
  border-radius: 10px;
  border: 1px solid var(--yozora_colorBorderCode, #d3d3d3);
  background: var(--yozora_colorBgCode, #f5f5f5);
  caret-color: var(--yozora_colorCodeCaret, #ed6c60);
  &&:hover {
    .yozora-code-literal__copy-btn {
      @apply yz:visible yz:opacity-100;
    }
  }
}

.yozora-code-literal__toolbar {
  @apply yz:flex-none yz:relative yz:flex yz:items-center yz:box-border;
  height: 2.5rem;
  padding: 0 4px;
  @apply yz:w-full;
  border-bottom: 1px solid var(--yozora_colorBorderCode, #d3d3d3);
  background: none;
  @apply yz:cursor-default;
}

.yozora-code-literal__title {
  margin-left: 0.75rem;
  font-family: var(--yozora_fontFamilyCode, ui-monospace, monospace);
  font-size: 12px;
  font-weight: 500;
  color: var(--yozora_colorCodeTitle, hsla(0deg, 0%, 30%, 0.8));
  @apply yz:select-none;
}

.yozora-code-literal__content {
  @apply yz:overflow-auto yz:p-0;
  border: none;
  @apply yz:m-0;
  font-family: var(
    --yozora_fontFamilyCode,
    Consolas,
    "Source Code Pro",
    "Roboto Mono",
    monospace,
    sans-serif
  );
  font-size: var(--yozora_fontSizeCode, 1rem);
  background: inherit;
  @apply yz:whitespace-pre-wrap;
  overflow-wrap: break-word;
  word-spacing: normal;
  @apply yz:break-all;
  word-wrap: break-word;
  letter-spacing: normal;
  line-height: inherit;
  tab-size: 2;
  > pre {
    @apply yz:m-0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    &&::selection {
      background: var(--yozora_colorCodeSelection, hsla(200deg, 30%, 70%, 0.3));
    }
  }
  span {
    line-height: inherit;
  }
  code {
    @apply yz:p-0 yz:m-0;
    line-height: inherit;
    background: none;
  }
  && ::selection {
    background: var(--yozora_colorCodeSelection, hsla(200deg, 30%, 70%, 0.3));
  }
}
