.yozora-code-embed__container {
  @apply yz:relative;
  border: none;
  @apply yz:p-0;
  background: transparent;
}

.yozora-code-embed__error {
  @apply yz:block yz:w-full yz:h-full;
  color: var(--yozora_colorBorderError, red);
  border: 1px solid var(--yozora_colorBorderError, red);
}

.yozora-code-embed__error-details {
  @apply yz:block yz:w-full yz:min-h-full;
  padding: 0.5rem;
  background: transparent;
  @apply yz:whitespace-pre-wrap yz:text-left;
}
