.yozora-code-live__copy-btn {
  @apply yz:absolute;
  right: 1rem;
  @apply yz:invisible yz:opacity-0;
  transition: opacity 0.2s ease-in-out;
  background: none;
  @apply yz:select-none;
}

.yozora-code-live__editor {
  flex: 1 1 0%;
  @apply yz:relative yz:box-border yz:min-h-0 yz:overflow-auto yz:p-0 yz:m-0;
  font-family: var(
    --yozora_fontFamilyCode,
    Consolas,
    "Source Code Pro",
    "Roboto Mono",
    monospace,
    sans-serif
  );
  font-size: var(--yozora_fontSizeCode, 1rem);
  background: none;
  && ::selection {
    background: var(--yozora_colorCodeSelection, hsla(200deg, 30%, 70%, 0.3));
  }
  .yozora-code-editor {
    border: none;
    border-radius: 0;
  }
}

.yozora-code-live__previewer {
  flex: 1 1 0%;
  @apply yz:box-border yz:min-h-0 yz:overflow-auto yz:block yz:p-0 yz:m-0;
  color: #000;
  background: none;
}

.yozora-code-live__container {
  @apply yz:flex yz:flex-col yz:justify-start yz:overflow-hidden;
  border-radius: 10px;
  border: 1px solid var(--yozora_colorBorderCode, #d3d3d3);
  background: var(--yozora_colorBgCode, #f5f5f5);
  caret-color: var(--yozora_colorCodeCaret, #ed6c60);
  &&:hover {
    .yozora-code-live__copy-btn {
      @apply yz:visible yz:opacity-100;
    }
  }
  && ::selection {
    background: var(--yozora_colorCodeSelection, hsla(200deg, 30%, 70%, 0.3));
  }
  && ::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }
  && ::-webkit-scrollbar-track {
    background: transparent;
  }
}

.yozora-code-live__toolbar {
  @apply yz:flex-none yz:relative yz:flex yz:items-center yz:box-border;
  height: 2.5rem;
  padding: 0 4px;
  @apply yz:w-full;
  border-bottom: 1px solid var(--yozora_colorBorderCode, #d3d3d3);
  background: var(--yozora_colorBgCode, #f5f5f5);
  @apply yz:cursor-default;
}

.yozora-code-live__title {
  margin-left: 0.75rem;
  font-family: var(--yozora_fontFamilyCode, ui-monospace, monospace);
  font-size: 12px;
  font-weight: 500;
  color: var(--yozora_colorCodeTitle, hsla(0deg, 0%, 30%, 0.8));
  @apply yz:select-none;
}

.yozora-code-live__main {
  @apply yz:flex-auto yz:min-h-0 yz:flex yz:flex-row yz:items-stretch;
  .yozora-code-live__editor {
    border-right: 1px solid var(--yozora_colorBorderCode, #d3d3d3);
  }
}

.yozora-code-live__main-vertical {
  @apply yz:grid yz:grid-cols-1;
  /* Keep intrinsic heights when unconstrained and share limited space between scroll areas. */
  grid-auto-rows: minmax(0, auto);
  &[data-collapsed] {
    grid-template-rows: auto minmax(0, 1fr);
  }
  > .yozora-code-live__editor {
    border-bottom: 1px solid var(--yozora_colorBorderCode, #d3d3d3);
    border-right: none;
  }
}

.yozora-code-live__previewer-center {
  > .yozora-code-embed {
    @apply yz:min-h-full yz:flex yz:items-center yz:justify-center;
  }
}
