// extra small devices
mx-screen-xs()
  @media screen and (max-width: 767px)
    {block}

// small devices tablets
mx-screen-sm()
  @media screen and (min-width: 768px) and (max-width: 991px)
    {block}

// small devices tablets or larger devices
mx-screen-sm-plus()
  @media screen and (min-width: 768px)
    {block}

// small devices tablets or smaller devices
mx-screen-sm-minus()
  @media screen and (max-width: 991px)
    {block}

// medium devices desktops
mx-screen-md()
  @media screen and (min-width: 992px) and (max-width: 1199px)
    {block}

// medium devices desktops or larger devices
mx-screen-md-plus()
  @media screen and (min-width: 992px)
    {block}

// medium devices desktops or smaller devices
mx-screen-md-minus()
  @media screen and (max-width: 1199px)
    {block}

// large devices desktops
mx-screen-lg()
  @media screen and (min-width: 1200px)
    {block}
