// background colors
$default-color-bg-primary = #fff
$color-bg-primary = 'var(--yozora-color-bg-primary, %s)' % ($default-color-bg-primary)
$default-color-bg-secondary = #fafbfa
$color-bg-secondary = 'var(--yozora-color-bg-secondary, %s)' % ($default-color-bg-secondary)
$default-color-bg-tertiary = #f6f8fa
$color-bg-tertiary = 'var(--yozora-color-bg-tertiary, %s)' % ($default-color-bg-tertiary)

// border colors
$default-color-border-primary = #e1e4e8
$color-border-primary = 'var(--yozora-color-border-primary, %s)' % ($default-color-border-primary)
$default-color-border-secondary = hsla(216deg, 20%, 80%, 0.92)
$color-border-secondary = 'var(--yozora-color-border-secondary, %s)' % ($default-color-border-secondary)
$default-color-border-tertiary = #d1d5da
$color-border-tertiary = 'var(--yozora-color-border-tertiary, %s)' % ($default-color-border-tertiary)

// text colors
$default-color-text-primary = #24292e
$color-text-primary = 'var(--yozora-color-text-primary, %s)' % ($default-color-text-primary)
$default-color-text-secondary = #586069
$color-text-secondary = 'var(--yozora-color-text-secondary, %s)' % ($default-color-text-secondary)
$default-color-text-tertiary = #6a737d
$color-text-tertiary = 'var(--yozora-color-text-tertiary, %s)' % ($default-color-text-tertiary)

// box sizing
$default-margin-block-node = 0 0 1.25em
$margin-block-node = 'var(--yozora-margin-block-node, %s)' % ($default-margin-block-node)

// Admonition styles
$default-admonition-border-width = 5px
$admonition-border-width = 'var(--yozora-admonition-border-width, %s)' % ($default-admonition-border-width)
$default-admonition-note-color-border = #d4d5d8
$admonition-note-color-border = 'var(--yozora-admonition-note-color-border, %s)' % ($default-admonition-note-color-border)
$default-admonition-note-bg = #fdfdfe
$admonition-note-bg = 'var(--yozora-admonition-note-bg, %s)' % ($default-admonition-note-bg)
$default-admonition-info-color-border = #4cb3d4
$admonition-info-color-border = 'var(--yozora-admonition-info-color-border, %s)' % ($default-admonition-info-color-border)
$default-admonition-info-bg = #eef9fd
$admonition-info-bg = 'var(--yozora-admonition-info-bg, %s)' % ($default-admonition-info-bg)
$default-admonition-tip-color-border = #009400
$admonition-tip-color-border = 'var(--yozora-admonition-tip-color-border, %s)' % ($default-admonition-tip-color-border)
$default-admonition-tip-bg = #e6f6e6
$admonition-tip-bg = 'var(--yozora-admonition-tip-bg, %s)' % ($default-admonition-tip-bg)
$default-admonition-caution-color-border = #e6a700
$admonition-caution-color-border = 'var(--yozora-admonition-caution-color-border, %s)' % ($default-admonition-caution-color-border)
$default-admonition-caution-bg = #fff8e6
$admonition-caution-bg = 'var(--yozora-admonition-caution-bg, %s)' % ($default-admonition-caution-bg)
$default-admonition-danger-color-border = #e13238
$admonition-danger-color-border = 'var(--yozora-admonition-danger-color-border, %s)' % ($default-admonition-danger-color-border)
$default-admonition-danger-bg = #ffebec
$admonition-danger-bg = 'var(--yozora-admonition-danger-bg, %s)' % ($default-admonition-danger-bg)

// Code styles
$default-code-bg-primary = #1e1e1e
$code-bg-primary = 'var(--yozora-code-bg-primary, %s)' % ($default-code-bg-primary)
$default-code-bg-highlight = hsla(210deg, 100%, 84%, 0.2)
$code-bg-highlight = 'var(--yozora-code-bg-highlight, %s)' % ($default-code-bg-highlight)
$default-code-bg-selection = hsla(200deg, 30%, 70%, 0.3)
$code-bg-selection = 'var(--yozora-code-bg-selection, %s)' % ($default-code-bg-selection)
$default-code-color-border = hsla(0deg, 0%, 30%, 0.8)
$code-color-border = 'var(--yozora-code-color-border, %s)' % ($default-code-color-border)
$default-code-color-caret = #aeafad
$code-color-caret = 'var(--yozora-code-color-caret, %s)' % ($default-code-color-caret)
$default-code-font-family = Consolas, 'Source Code Pro', 'Roboto Mono', monospace, sans-serif
$code-font-family = 'var(--yozora-code-font-family, %s)' % ($default-code-font-family)
$default-code-font-size = min(1rem, 18px)
$code-font-size = 'var(--yozora-code-font-size, %s)' % ($default-code-font-size)
$default-code-live-previewer-bg = #fff
$code-live-previewer-bg = 'var(--yozora-code-live-previewer-bg, %s)' % ($default-code-live-previewer-bg)

// Delete styles
$default-delete-color = #acb2b9
$delete-color = 'var(--yozora-delete-color, %s)' % ($default-delete-color)

// Heading styles
$default-heading-font-family = 'Comic Sans MS', 'lucida grande', 'lucida sans unicode', lucida, 'Hiragino Sans GB', 'Helvetica Neue', 'Microsoft Yahei', 'WenQuanYi Micro Hei', sans-serif
$heading-font-family = 'var(--yozora-heading-font-family, %s)' % ($default-heading-font-family)

// Image styles
$default-image-color-border = #7a6390
$image-color-border = 'var(--yozora-image-color-border, %s)' % ($default-image-color-border)
$default-image-color-title = #808080
$image-color-title = 'var(--yozora-image-color-title, %s)' % ($default-image-color-title)

// Link styles
$default-link-color = #4682B4
$link-color = 'var(--yozora-link-color, %s)' % ($default-link-color)
$default-link-color-hover = #5c9fd6
$link-color-hover = 'var(--yozora-link-color-hover, %s)' % ($default-link-color-hover)
$default-link-color-active = #5c9fd6
$link-color-active = 'var(--yozora-link-color-active, %s)' % ($default-link-color-active)

// List task item styles
$default-list-task-item-bg--todo = #f5f5f5
$list-task-item-bg--todo = 'var(--yozora-list-task-item-bg--todo, %s)' % ($default-list-task-item-bg--todo)
$default-list-task-item-bg--doing = #3399ff
$list-task-item-bg--doing = 'var(--yozora-list-task-item-bg--doing, %s)' % ($default-list-task-item-bg--doing)
$default-list-task-item-bg--done = #3399ff
$list-task-item-bg--done = 'var(--yozora-list-task-item-bg--done, %s)' % ($default-list-task-item-bg--done)

// Math styles
$default-math-color = hsl(220, 100%, 32%)
$math-color = 'var(--yozora-math-color, %s)' % ($default-math-color)

// Table styles
$default-table-bg-thead = #eff0f0
$table-bg-thead = 'var(--yozora-table-bg-thead, %s)' % ($default-table-bg-thead)
$default-table-bg-row-odd = #fff
$table-bg-row-odd = 'var(--yozora-table-bg-row-odd, %s)' % ($default-table-bg-row-odd)
$default-table-bg-row-even = #f6f8fa
$table-bg-row-even = 'var(--yozora-table-bg-row-even, %s)' % ($default-table-bg-row-even)
$default-table-color-border = #dfe2e5
$table-color-border = 'var(--yozora-table-color-border, %s)' % ($default-table-color-border)
